@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #2A438C, #2484BF);
}

main {
    background-color: #ccb996;
    width: 600px;
    border-radius: 60px;
    padding: 13px;
    margin: auto;
    box-shadow: 5px 5px 15px black;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
    color: #003252;
    text-shadow: 1px 1px 2px #003252;
}

h2 {
    text-align: center;
    color: #ff7700;
    text-shadow: 1px 1px #ff7700;
}