@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal;
}

@font-face {
    font-family: 'Titulo-Principal';
    src: url('../fontes/AldotheApache.ttf') format(truetype);
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #003d1e;

    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
    --font-android: 'Android', 'cursive';
    --Titulo-Principal: 'Titulo-Principal';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrão);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font: 1em;
    line-height: 2em;
}

header > h1 {
    font-family: var(--Titulo-Principal);
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.575);
    font-weight: normal;
}

header > p {
    color: white;
    font-family: var(--font-padrão);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding: 0px 10px 0px 10px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.301);
    padding-bottom: 50px;
}

header {
    background: linear-gradient(90deg, var(--cor5), var(--cor4), var(--cor3), var(--cor4), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.418);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
}

nav > a:hover {
    background-color: var(--cor3);
    transition-duration: 0.5s;
    color: var(--cor2);
    border-radius: 5px;
    transition-duration: 0.5s;
    background: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

main {
    background-color: white;
    min-width: 320px;
    max-width: 1024px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
}


main a {
    background-color: var(--cor1);
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main h1 {
    font-family: var(--font-android);
    color: var(--cor5);
}

main h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(90deg, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    color: var(--cor5);
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    background: linear-gradient(90deg, var(--cor5), var(--cor2), var(--cor5));
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    box-shadow: 0px 0px 2px black;
    border-radius: 2px;
    color: var(--cor);
    text-decoration: underline;
    transition-duration: 0.3s;

}

footer p {
    color: var(--cor5);
}

main img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: auto;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main aside {
    background: linear-gradient(45deg, var(--cor2), var(--cor1), var(--cor2));
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.589);
    margin-top: 50px;
}

aside ul {
    list-style-position: inside;
    columns: 2;
}

aside h3 {
    background: linear-gradient(90deg,  var(--cor5), var(--cor3), transparent);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    color: var(--cor0);
    font-family: var(--font-android);

}

aside > ul > li {
    text-decoration: none;
    line-height: 1.5;
    display: block;
    margin: auto;
}

main aside p {
    color: var(--cor5);
}
aside a {
    background-color: var(--cor3);
    color: var(--cor5);
}

div.video {
    background: linear-gradient(45deg, var(--cor5), var(--cor4), var(--cor3), var(--cor4), var(--cor5));
    margin: 0px -20px 0px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 57%;
    margin-top: 50px;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}