@charset "UTF-8";

body {
            background-color: rgb(54, 124, 255);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: aliceblue;
            background-color: rgb(1, 106, 192);
            text-align: center;
            border-radius: 50px;
        }

        h2{
            color: rgb(2, 57, 71);
        }

        p {
            color: rgb(1, 38, 49);
            text-align: justify;
        }

        a {
            color: rgb(2, 22, 58);
            text-align: center;
        }