@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
}

p {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

header h1 {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    color: white;
    text-align: center;
    font-size: 10vw;
    font-variant: small-caps;
}

header p {
    color: white;
    text-align: center;
    font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background-color: black;
    padding: 50px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.poema {
    padding: 10px;
    width: 95%;
    height: 100%;
    font-size: 2vw;
    padding: 10px;
    font-size: 3.5vw;
}

.poema p {
    font-size: 35px;
    width: 40%;
    padding: 10px;
    font-size: 3.5vw;
    text-justify: auto;
    line-height: 2em;
}

.poema-imagem {
    background-color: rgba(0, 0, 0, 0.438);
    width: 45%;
    padding: 5px;
    color: white;
    font-size: 3.5vw;
}

.poema-imagem p {
    width: 100%;
    font-size: 3.5vw;
    line-height: 2em;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#imagem-de-fundo1 {
    display: flex;
    align-items: center;
    background-image: url('imagens/flor-abelha.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    padding-left: 30px;

    height: 100%;

    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.459);
}

#imagem-de-fundo2 {
    display: flex;
    align-items: center;
    background-image: url('imagens/caderno.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    padding-left: 30px;

    height: 100%;

    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.308);
}

footer {
    text-align: center;
    background-color: black;
    padding: 10px;
}

footer p {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
    font-family: "PT Serif", serif;
    font-weight: bolder;
    font-style: normal;
}