@charset 'UTF-8';

/*
    Em HTML é id - Em CSS é # (só pode 1 elemento)
    Em HTML é class - Em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(196, 250, 250);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(92, 92, 202);
}

h1#principal {
    text-align: center;
    background-color: #5A8E8F;
    color: #ffffff;
}

h2 {
    color: #1a1244;
}

.basico {
    color: rgb(100, 138, 63);
}

.intermediario {
    color: rgb(185, 115, 65);
}

.avançado {
    color: rgb(160, 62, 62);
}

.destaque {
    background-color: rgba(117, 100, 4, 0.692);
}