@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;background-color: rgb(104, 123, 131);
    margin: 0px;
    
}

h1 {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

#cabesalho {
    background: linear-gradient(to right,  #0d9e9c,  #16fffb, #0d9e9c);
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;

}
/*rgb(122, 122, 122)*/
#menu {
    background: linear-gradient(to right, rgb(0, 152, 172), rgb(1, 225, 255), rgb(0, 152, 172));
    text-align: center;
    text-justify: auto;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.247);
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

a {
    margin-right: 50px;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#conteudo {
    background-color:#e3ffff;
    padding: 3px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
}
#conteudo > p {
    margin-left: 15px;
    margin-top: 3px;
    margin-right: 10px;
    background-color: rgb(218, 218, 218);
}

#rodape {
    background: linear-gradient(to right, black, rgb(51, 51, 51), black);
    color: aliceblue;
    text-align: center;
    padding: 5px;
    margin: 0px;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;

}

#rodape > p {
    font-size: 21px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#conteudo1 {
    background-color:  #d7fffe;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 10px rgba(0, 47, 255, 0.301);
    border-radius: 3px 20px;
}
#conteudo2 {
    background-color:  #d7fffe;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 10px rgba(0, 47, 255, 0.301);
    border-radius: 3px 20px;
}
.escritor {
    background-color:  #48bcd1;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 21px;
    text-align: center;
    color: #000000;
    padding: 0px 5px;
}

.escritor > p {
    padding-block: px 0px;
}

a:hover {
    background-color: rgb(158, 158, 158);
    text-decoration: underline;
    color: blue;
}

#principal {
    font-size: 60px;
    margin: 0px;
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: #023535;
}

#conteudo1 > p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#conteudo2 > p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}